.loading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
.loading__container{
    display: flex;
}

/*? Animation*/
.pulser{
    width: 30px;
    height: 30px;
    background-color: #09f;
    border-radius: 50%;    
}
.pulser:first-child{
    /*transition-delay: 0s ;*/
    animation: loader .6s ease-in-out alternate infinite;
}
.pulser:nth-child(2){
    /*transition-delay: 350ms;*/
    animation: loader .6s ease-in-out alternate .2s infinite;

}
.pulser:nth-child(3){
    animation: loader .6s ease-in-out alternate .4s infinite;
    transition-delay: 700ms ;
}
@keyframes loader{

    to{
        opacity: 0;
    }
}

