.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*! Barra de navegacion */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    left: 0; /* Posiciono en la izquierda el elemento*/
    top: 0; /* Posiciono desde el inicio superior el elemento*/
    height: 100%;
    width: 70px;
    background-color: black;
}
.nav__ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}
.nav__ul__li{
    cursor: pointer;
}
/*? Main */
.main{
    margin-left: 90px;
}
.containerColumn{
    background-color: rgba(50, 50, 50, 0.956);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 200px;
    border: solid blue;
}
h1{
    margin: 2rem;
    color: rgb(25, 25, 167);
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
.h3{
    color: rgb(25, 25, 167);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer{
    height: 20vh;
}
.logoGrande{
    width: 180px;
    height: 180px;
}
.logo{
    width: 70px;
    height: 70px;
}
