.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerColumn{
    background-color: rgba(128, 128, 128, 0.585);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
    height: 40vh;
    width: 80vw;
    border: solid black;
}
.containerColumnImages{
    background-color: rgba(128, 128, 128, 0.585);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
    width: 80vw;
    border: solid crimson;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer{
    height: 20vh;
}
.logoGrande{
    width: 180px;
    height: 180px;
}
.logo{
    width: 70px;
    height: 70px;
}
